@{
    Layout = null;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Handcom</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <main role="main" class="pb-3">
        <form style="position:relative; top:200px;" method="post" action="registrar">

            <div class="text-center">
                <h1>Registrar</h1>
            </div>
            <br />

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="text" id="Name" name="Name" class="form-control" required />
                <label class="form-label" for="Name">Nome</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="Email" name="Email" class="form-control" required />
                <label class="form-label" for="Email">E-mail</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="Password" name="Password" class="form-control" required />
                <label class="form-label" for="Password">Senha</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required />
                <label class="form-label" for="ConfirmPassword">Confirme sua senha</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" onclick="CallFunctionRegistrar">Cadastrar</button>

        </form>

    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/login.js"></script>